<div class="is-flex">
  <%= render partial: "layouts/sidenav",
              object: @categories %>

  <main class="box" >
    <% @optical_drives.each_with_index do |optical_drive, index| %>
      <% if index % 5 == 0 %>
          <section class="columns">
              <%= render partial: "layouts/product",
                          object: optical_drive %>
      <% else %>
              <%= render partial: "layouts/product",
                          object: optical_drive %>
      <% end %>
      <% if index % 5 == 4 %>
          </section>
      <% end %>
    <% end %>
    <%= paginate @optical_drives %>
  </main>
</div>