<div class="content">
    <h1 class="has-background-black">Contact Us</h1>

    <h2 class="has-background-black">Our Super Earth Location</h2>

    <p class="has-text-black">Address: <%= @contact_business.address%></p>

    <h2 class="has-background-black">Our Super Earth Phone Number</h2>
    
    <p class="has-text-black">Phone Number: <%= @contact_business.phone_number%></p>
</div>