<div class="container is-max-desktop">
  <h1>Order ID: <%= @order.id %></h1>
  <h2>Details:</h2>
  <ul>
    <li>Customer ID: <%= @order.customer_id %></li>
    <li>Date Purchased: <%= @order.date_purchased %></li>
  </ul>
</div>