<div class="is-flex">
    <%= render partial: "layouts/sidenav",
               object: @categories %>

    <main class="box" >
        <% @products.each_with_index do |product, index| %>
            <% if index % 5 == 0 %>
                <section class="columns">
                    <%= render partial: "layouts/product",
                               object: product %>
            <% else %>
                    <%= render partial: "layouts/product",
                               object: product %>
            <% end %>
            <% if index % 5 == 4 %>
                </section>
            <% end %>
        <% end %>
        <%= paginate @products%>
    </main>
</div>

