<nav class=navbar role="navigation">
    <div class="navbar-menu">
        <p class="navbar-item">
            <%= link_to "Home", root_path %>
        </p>
        <p class="navbar-item" href="">
            <%= link_to "About Us", about_us_path %>
        </p>
        <p class="navbar-item">
            <%= link_to "Contact Us", contact_us_path %>
        </p>
    </div>
</nav>