<nav class="navbar has-background-light" role="navigation">
    <div class="navbar-menu">
        <%= link_to "Home", root_path, :class => "navbar-item" %>
        <%= link_to "About Us", about_us_path, :class => "navbar-item"  %>
        <%= link_to "Contact Us", contact_us_path, :class => "navbar-item"  %>
    </div>
</nav>  