<div class="column is-one-fifth">
    <div class="card">
        <div class="card-content">
            <p>Name: <%= link_to product.name, product %></p>
            <p>Price: <%= product.price %></p>
        </div>
    </div>
</div>