<div class="column is-one-fifth">
    <div class="card">
        <div class="card-content">
            <% if product.image.present? %>
                <div class="card-image">
                    <figure>
                        <%= image_tag product.image, size: "200x200"%>
                    </figure>
                </div>
            <% end %>
            <p>Name: <%= link_to product.name, product %></p>
            <p>Price: <%= product.price %></p>
        </div>
    </div>
</div>